<%- include('./partials/head.ejs') %>
    <!-- ikeliam bendra navigacijos faila -->
    <%- include('./partials/nav.ejs') %>
    <h1>This is express app About</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis culpa
      excepturi dolore voluptatibus impedit nam qui corporis, ea consectetur
      aliquid libero fugit aliquam consequatur ex a vero itaque fuga id?
    </p>
    <%- include('./partials/footer.ejs') %>

