<%- include('./partials/head.ejs') %>
    <!-- ikeliam bendra navigacijos faila -->
    <%- include('./partials/nav.ejs') %>
    <h1>This is express app Contacts</h1>

  <%- include('./partials/footer.ejs') %>
