<%- include('../partials/head.ejs') %> <%- include('../partials/nav.ejs') %>

<main role="main">
  <% if(result) {%>
  <div class="alert alert-success" role="alert">
    Owner created <%= result.name %>
  </div>
  <% } %>
</main>

<%- include('../partials/footer.ejs') %>
